<!DOCTYPE html>
<html>
  <head>
    <title>Eogiri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_pack_tag 'hello_vue' %>
    <%# <%= stylesheet_pack_tag 'hello_vue' %> %>
    <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>
    <div id="vue-app"></div>
  </body>
</html>
